<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Grocery List</h2>
                <p class="lead">
                    Wuddya want from the store?
                </p>
            </div>

            <blist-edit 
                bitem="blistPageCtrl.editedBitem"
                save="blistPageCtrl.saveBitem(editedBitem)"
            /> <!-- this saveBitem refers to the saveBitem() in page-controller, not edit-controller; it is the same as the 'save' binding in the edit-component-->
            
            <div class="panel"
                ng-show="blistPageCtrl.hasGotBitems"
            >
                <p class="lead">
                    <h3>Already Got</h3>
                </p>
                <button class="btn btn-danger"
                        type="submit"
                        ng-click="blistPageCtrl.clearGotBitems()"
                >
                    Clear Got List
                </button>
                <div class="panel-body"
                    ng-repeat="gotBitem in blistPageCtrl.gotBitems"
                >
                    {{ gotBitem.item_name }}
                    {{ gotBitem.date_added | date: 'medium' }}
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="lead">
                <h3>Still to Get</h3>
            </div>

            <blist-item 
                ng-repeat="bitem in blistPageCtrl.bitems"
                bitem="bitem"
                remove="blistPageCtrl.removeBitem(editedBitem)"
            />
        </div>
    </div>
</div>